/*Se importan estilos pre determinados*/
@import url('style-jose.css');
/*Estilos de la pagina general*/
main .container{
    max-width: 90%;
}

main label{
    width: 60%;
    text-align: start;
}

/*Formulario tarjeta*/
main .icon{
    font-size: x-large;
    width: 20px;
    margin:none;
    padding: 0;
    display: inline-block;
}
main .form-check input{
    width: 30px;

}
main .datos-tarjeta div{
    width: 210px;
    text-align: start;
    display: inline-block;

}
main .contenido-corto{
    width: 100px;
    display: inline-block;
    text-align: start;
}
main .form-check{
    background-color: #C4C4C4;
    width: 90%;
    margin: 20px auto;
    padding: auto ;
    border-radius: 2px;

}
main .datos-tarjeta{
    max-width:70%;
    margin: auto;
}
main input{
    width: auto;

}
main #num-tarjeta{
    width:180px;
}
main #cvv{
    width:50px;
}
main #vigencia{
    width:60px;
}
main .correcto-label{
    border: double 2px rgb(65, 233, 65);
    margin: 0;
    background-color: white;
    border-radius: 50%;
}

main .error-label{
    border: double 2px red;
    margin: 0;
    background-color: white;
    border-radius: 50%;
}

/*Seccion de pagos*/
main .meme-img{
    width: 80%;
}

/* seccion Productos*/
main #productos{
     min-height: 100px;
}



/* Ventana Modal*/
main .modal form{

    text-align: center;
}
main .modal label{
    width: 100px;
}
main .modal input{
    border-radius: 11px;
    margin: 15px;
}
main .modal button{
    border: none;
    border-radius: 11px;
    width: 200px;
}
