/*Se importan estilos pre determinados*/
@import url('style-jose.css');
/*Estilos de la pagina general*/

main{
    text-align: center;
    background-color: #ffffff;
     
    background-image:  radial-gradient(#252525 1.2000000000000002px, transparent 1.2000000000000002px), radial-gradient(#252525 1.2000000000000002px, #ffffff 1.2000000000000002px);
    background-size: 48px 48px;
    background-position: 0 0,24px 24px;
    max-width: 500px;
}
main .container{
    max-width: 90%;
    background-color: #f0f0f0d2;
}

main label{
    width: 60%;
    text-align: start;
}

main .btn:hover{
    transition: 1s;
	transform: scale(1.05);

}
/*Formulario tarjeta*/
main .icon{
    font-size: x-large;
    width: 20px;
    margin:none;
    padding: 0;
    display: inline-block;
}
main .form-check input{
    width: 30px;

}

main .fas{
    padding: 2px;
    width: 20px;
    opacity: 0;
}
main .fa-times-circle{
    font-size: 16px;
    color: #bb2929;
    opacity: 1;

}
main .fa-check-circle{
    font-size: 16px;
    color: #2ea001;
    opacity: 1;
}
main .datos-tarjeta{
    padding: 5px;
    width: 230px;
    margin: auto;

}
main .datos-tarjeta h2{
    text-align: center;

}
main .contenido-corto{
    width: 100px;
    display: inline-block;
    text-align: start;
}
main .form-check{
    width: 90%;
    margin: 20px auto;
    padding: auto ;
    border-radius: 2px;

}

main input{
    width: auto;

}
main #num-tarjeta{
    width:180px;
}
main #cvv{
    width:50px;
}
main #vigencia{
    width:60px;
}
main .correcto-label{
    border: double 2px rgb(65, 233, 65);
    margin: 0;
    background-color: white;
    border-radius: 50%;
}


main .contenedor_tarjeta{
    text-align: center;
    width: 320px;
}

/*Seccion de pagos*/
main .meme-img{
    width: 80%;
}

main #pagos td{
    padding: 3px;
    min-width: 30px;
}
/* seccion Productos*/
main #productos{
     min-height: 100px;
}
main #productos table{
    margin: auto;
}

/* Ventana Modal*/
main .modal form{
    text-align: center;
}
main .modal label{
    width: 100px;
}
main .modal input{
    border-radius: 11px;
    margin: 15px;
}
main .modal button{
    border: none;
    border-radius: 11px;
    width: 200px;
}
