h2 {
    text-align: center;
    
}

/*Ventanas voladoras*/
.contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 50px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;

	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: #E0291E;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	/*width: 600px;*/
	
	transition: .3s ease all;
	transform: scale(0.60);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup .card-img-top {
    font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0; 
}

.popup .card-text {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}



.popup .card-body .btn {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
    text-align: center;
}

.popup .card-body .btn:hover {
	background: #E0291E;
}

.boton-acomodo {
    width: 35vw;
}

.acomodo-btn {
    margin-top: 3em;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	opacity: 1; }
.popup.active .card-img-top { animation: entradaImagen .8s ease .5s forwards; }
.popup.active .card-text { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .card-body .btn .btn-outline { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaImagen {
	from {
		opacity: 0;
		transform: translateX(-25px);
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}



/*HRana*/

.contenedor2 article .btn-abrir-popup2 {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 50px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;

	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor2 article .btn-abrir-popup2:hover {
	background: #E0291E;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay2 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay2.active {
	visibility: visible;
}

.popup2 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	/*width: 600px;*/
	
	transition: .3s ease all;
	transform: scale(0.60);
	opacity: 0;
}

.popup2 .btn-cerrar-popup2 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup2 .btn-cerrar-popup2:hover {
	color: #000;
}

.popup2 .card-img-top {
    font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0; 
}

.popup2 .card-text {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup2 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}



.popup2 .card-body .btn {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
    text-align: center;
}

.popup2 .card-body .btn:hover {
	background: #E0291E;
}

.boton-acomodo2 {
    width: 35vw;
}

.acomodo-btn2 {
    margin-top: 3em;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup2.active {	opacity: 1; }
.popup2.active .card-img-top { animation: entradaImagen .8s ease .5s forwards; }
.popup2.active .card-text { animation: entradaTitulo .8s ease .5s forwards; }
.popup2.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup2.active .card-body .btn .btn-outline { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaImagen {
	from {
		opacity: 0;
		transform: translateX(-25px);
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}



/*HTroll*/

.contenedor3 article .btn-abrir-popup3 {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 50px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;

	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor3 article .btn-abrir-popup3:hover {
	background: #E0291E;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay3 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay3.active {
	visibility: visible;
}

.popup3 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	/*width: 600px;*/
	
	transition: .3s ease all;
	transform: scale(0.60);
	opacity: 0;
}

.popup3 .btn-cerrar-popup3 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup3 .btn-cerrar-popup3:hover {
	color: #000;
}

.popup3 .card-img-top {
    font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0; 
}

.popup3 .card-text {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup3 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}



.popup3 .card-body .btn {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
    text-align: center;
}

.popup3 .card-body .btn:hover {
	background: #E0291E;
}

.boton-acomodo3 {
    width: 35vw;
}

.acomodo-btn3 {
    margin-top: 3em;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup3.active {	opacity: 1; }
.popup3.active .card-img-top { animation: entradaImagen .8s ease .5s forwards; }
.popup3.active .card-text { animation: entradaTitulo .8s ease .5s forwards; }
.popup3.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup3.active .card-body .btn .btn-outline { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaImagen {
	from {
		opacity: 0;
		transform: translateX(-25px);
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}


/*PCheems*/

.contenedor4 article .btn-abrir-popup4 {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 50px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;

	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor4 article .btn-abrir-popup4:hover {
	background: #E0291E;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay4 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay4.active {
	visibility: visible;
}

.popup4 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	/*width: 600px;*/
	
	transition: .3s ease all;
	transform: scale(0.60);
	opacity: 0;
}

.popup4 .btn-cerrar-popup4 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup4 .btn-cerrar-popup4:hover {
	color: #000;
}

.popup4 .card-img-top {
    font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0; 
}

.popup4 .card-text {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup4 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}



.popup4 .card-body .btn {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
    text-align: center;
}

.popup4 .card-body .btn:hover {
	background: #E0291E;
}

.boton-acomodo4 {
    width: 35vw;
}

.acomodo-btn4 {
    margin-top: 3em;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup4.active {	opacity: 1; }
.popup4.active .card-img-top { animation: entradaImagen .8s ease .5s forwards; }
.popup4.active .card-text { animation: entradaTitulo .8s ease .5s forwards; }
.popup4.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup4.active .card-body .btn .btn-outline { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaImagen {
	from {
		opacity: 0;
		transform: translateX(-25px);
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}


/*Pamsiedad*/

.contenedor5 article .btn-abrir-popup5 {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 50px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;

	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor5 article .btn-abrir-popup5:hover {
	background: #E0291E;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay5 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay5.active {
	visibility: visible;
}

.popup5 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	/*width: 600px;*/
	
	transition: .3s ease all;
	transform: scale(0.60);
	opacity: 0;
}

.popup5 .btn-cerrar-popup5 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup5 .btn-cerrar-popup5:hover {
	color: #000;
}

.popup5 .card-img-top {
    font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0; 
}

.popup5 .card-text {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup5 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}



.popup5 .card-body .btn {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
    text-align: center;
}

.popup5 .card-body .btn:hover {
	background: #E0291E;
}

.boton-acomodo5 {
    width: 35vw;
}

.acomodo-btn5 {
    margin-top: 3em;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup5.active {	opacity: 1; }
.popup5.active .card-img-top { animation: entradaImagen .8s ease .5s forwards; }
.popup5.active .card-text { animation: entradaTitulo .8s ease .5s forwards; }
.popup5.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup5.active .card-body .btn .btn-outline { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaImagen {
	from {
		opacity: 0;
		transform: translateX(-25px);
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}


/*PGato*/

.contenedor6 article .btn-abrir-popup6 {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 50px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;

	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor6 article .btn-abrir-popup6:hover {
	background: #E0291E;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay6 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay6.active {
	visibility: visible;
}

.popup6 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	/*width: 600px;*/
	
	transition: .3s ease all;
	transform: scale(0.60);
	opacity: 0;
}

.popup6 .btn-cerrar-popup6 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup6 .btn-cerrar-popup6:hover {
	color: #000;
}

.popup6 .card-img-top {
    font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0; 
}

.popup6 .card-text {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup6 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}



.popup6 .card-body .btn {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
    text-align: center;
}

.popup6 .card-body .btn:hover {
	background: #E0291E;
}

.boton-acomodo6 {
    width: 35vw;
}

.acomodo-btn6 {
    margin-top: 3em;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup6.active {	opacity: 1; }
.popup6.active .card-img-top { animation: entradaImagen .8s ease .5s forwards; }
.popup6.active .card-text { animation: entradaTitulo .8s ease .5s forwards; }
.popup6.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup6.active .card-body .btn .btn-outline { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaImagen {
	from {
		opacity: 0;
		transform: translateX(-25px);
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}


/*Taza*/

.contenedor7 article .btn-abrir-popup7 {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 50px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;

	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor7 article .btn-abrir-popup7:hover {
	background: #E0291E;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay7 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay7.active {
	visibility: visible;
}

.popup7 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	/*width: 600px;*/
	
	transition: .3s ease all;
	transform: scale(0.60);
	opacity: 0;
}

.popup7 .btn-cerrar-popup7 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup7 .btn-cerrar-popup7:hover {
	color: #000;
}

.popup7 .card-img-top {
    font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0; 
}

.popup7 .card-text {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup7 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}



.popup7 .card-body .btn {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
    text-align: center;
}

.popup7 .card-body .btn:hover {
	background: #E0291E;
}

.boton-acomodo7 {
    width: 35vw;
}

.acomodo-btn7 {
    margin-top: 3em;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup7.active {	opacity: 1; }
.popup7.active .card-img-top { animation: entradaImagen .8s ease .5s forwards; }
.popup7.active .card-text { animation: entradaTitulo .8s ease .5s forwards; }
.popup7.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup7.active .card-body .btn .btn-outline { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaImagen {
	from {
		opacity: 0;
		transform: translateX(-25px);
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}


/*Cubreboca*/

.contenedor8 article .btn-abrir-popup8 {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 50px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;

	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor8 article .btn-abrir-popup8:hover {
	background: #E0291E;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay8 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay8.active {
	visibility: visible;
}

.popup8 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	/*width: 600px;*/
	
	transition: .3s ease all;
	transform: scale(0.60);
	opacity: 0;
}

.popup8 .btn-cerrar-popup8 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup8 .btn-cerrar-popup8:hover {
	color: #000;
}

.popup8 .card-img-top {
    font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0; 
}

.popup8 .card-text {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup8 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}



.popup8 .card-body .btn {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
    text-align: center;
}

.popup8 .card-body .btn:hover {
	background: #E0291E;
}

.boton-acomodo8 {
    width: 35vw;
}

.acomodo-btn8 {
    margin-top: 3em;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup8.active {	opacity: 1; }
.popup8.active .card-img-top { animation: entradaImagen .8s ease .5s forwards; }
.popup8.active .card-text { animation: entradaTitulo .8s ease .5s forwards; }
.popup8.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup8.active .card-body .btn .btn-outline { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaImagen {
	from {
		opacity: 0;
		transform: translateX(-25px);
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}


/*Gorra*/

.contenedor9 article .btn-abrir-popup9 {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 50px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;

	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor9 article .btn-abrir-popup9:hover {
	background: #E0291E;
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay9 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay9.active {
	visibility: visible;
}

.popup9 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	/*width: 600px;*/
	
	transition: .3s ease all;
	transform: scale(0.60);
	opacity: 0;
}

.popup9 .btn-cerrar-popup9 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup9 .btn-cerrar-popup9:hover {
	color: #000;
}

.popup9 .card-img-top {
    font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0; 
}

.popup9 .card-text {
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup9 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}



.popup9 .card-body .btn {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: black;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	transition: .3s ease all;
    text-align: center;
}

.popup9 .card-body .btn:hover {
	background: #E0291E;
}

.boton-acomodo9 {
    width: 35vw;
}

.acomodo-btn9 {
    margin-top: 3em;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup9.active {	opacity: 1; }
.popup9.active .card-img-top { animation: entradaImagen .8s ease .5s forwards; }
.popup9.active .card-text { animation: entradaTitulo .8s ease .5s forwards; }
.popup9.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup9.active .card-body .btn .btn-outline { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaImagen {
	from {
		opacity: 0;
		transform: translateX(-25px);
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
